.link-btn {
  padding: 8px 20px;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
  font-family: 'Zilla Slab';
}

.link-btn:hover {
  padding: 8px 20px;
  transition: all 0.3s ease-out;
  background: white;
  color: #6568f4;
  transition: 250ms;
}

.link-btn--primary {
  background-color: #3acbf7;
}

.link-btn--outline {
  background-color: transparent;
  color: white;
  padding: 8px 20px;
  border-radius: 4px;
  border: 2px solid #3acbf7;
  transition: all 0.3s ease-out;
}

.link-btn--medium {
  padding: 8px 20px;
  border-radius: 4px;
  font-size: 1.2rem;
  color: white;
}

.link-btn--large {
  padding: 12px 26px;
  border-radius: 4px;
  font-size: 1.4rem;
  color: white;
}
